.container {
  background-color: azure;
  display: flex;
  flex-direction: column;
  border: 5px solid #ccc;
  padding: 20px;
}

.container form {
  width: 100%;
}

.container label {
  margin-bottom: 5px;
}

.container input,
.container select {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}

.container p {
  color: red;
  margin-top: 5px;
  margin-bottom: 0;
}
