h1{
    border-style: solid;
    border-color: rebeccapurple;
    /* border-width: 5px 20px; */
    border-width: 5px 20px 10px 5px;
    border-top-style: dotted;
    border-radius: 15px;
    background-color: lightblue;
}